.company {
  line-height: 0.5;
  text-align: center;
}

.company span {
  position: relative;  
}

.company span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid #ccc;
  top: 30;
  width: 150px;
}

.company span:before {
  right: 100%;
  margin-right: 150px;
}

.company span:after {
  left: 100%;
  margin-left: 10px;
}

.company:last-child span:after {
  border: 0px;
}

#navLogin {
  position: relative;
  background: #88b7d5;
}

#navLogin:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}

/* Pricing Table Opacity Options

.pricingtable td:nth-child(2), th:nth-child(2)
  opacity: .3

.pricingtable td:nth-child(3), th:nth-child(3)
  opacity: .3
  
.pricingtable td:nth-child(4), th:nth-child(4)
  opacity: .3 

*/
