/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  background: #fafafa;
  font-family: "Raleway", sans-serif;
  color: #404042;
  padding-top: 94px;
  line-height: 25px;
  font-size: 13px; }

nav {
  background: #ffffff;
  padding-bottom: 0px;
  border-bottom: 1px solid #eee; }

a {
  color: #404042;
  text-decoration: underline; }

p {
  line-height: 25px;
  font-size: 13px; }

section {
  padding: 80px 0px 100px 0px; }

h1 {
  font-size: 33px;
  margin-bottom: 20px;
  letter-spacing: 1px; }

h2 {
  font-size: 28px;
  margin-bottom: 20px; }

h3 {
  font-size: 18px;
  margin-bottom: 20px; }

h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px; }

strong {
  font-weight: 600; }

.clear {
  clear: both; }

.uppercase {
  text-transform: uppercase; }

.space {
  padding-top: 20px; }

button {
  border-radius: 2px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  border: 0px;
  padding: 8px 45px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 13px; }
  button a {
    color: #fff;
    text-decoration: none; }
  button a:hover {
    text-decoration: none;
    color: inherit; }

.left {
  float: left; }

.right {
  float: right; }

.lighterblue {
  background: #d8eef9; }

.lightblue {
  background: #76c9ec;
  color: #000; }

.blue {
  background: #2fade4; }

.grey {
  background: #404042; }

.none {
  background: transparent;
  color: #2b2b2b; }

.whitebtn {
  border: 1px solid #404042;
  background: #fff;
  color: #2b2b2b; }

.white {
  background: #fff;
  color: #2b2b2b; }
  .white a {
    color: #2b2b2b; }

.width100 {
  width: 100%; }

small {
  font-size: 11px; }

label {
  font-size: 13px; }

.navbar-fixed-top {
  border-bottom: 1px solid #eee;
  background: #fdfdfd;
  min-height: 100px; }

#navLogin {
  margin-top: 0px;
  padding-top: 0px; }

.nav > li > a:focus, .nav > li > a:hover {
  background: transparent; }

nav .nav .open > a:focus, nav .nav .open > a:hover {
  background: transparent; }

nav .open > .dropdown-menu {
  display: block;
  border: 2px solid #2fade4;
  background-color: #e9f6fc; }
nav .dropdown-menu {
  padding: 30px 20px !important;
  width: 275px; }
  nav .dropdown-menu label {
    font-weight: 600; }
  nav .dropdown-menu a {
    text-decoration: underline; }
nav .dropdown-menu.loggedinmenu {
  background: #fff !important; }
nav #loggedin {
  margin-top: -15px; }
  nav #loggedin a {
    text-decoration: none;
    padding: 0px; }
  nav #loggedin li:first-child {
    vertical-align: middle;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 0.5px; }
  nav #loggedin .loggedinmenu ul li {
    padding-bottom: 5px; }
  nav #loggedin .loggedinmenu ul li:hover {
    background: transparent; }
  nav #loggedin .loggedinmenu hr {
    margin: 10px 0px; }
  nav #loggedin .initials {
    background-color: #76c9ec;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    text-align: center;
    padding-top: 9px;
    border: 2px solid #1dabe6;
    font-weight: 600;
    float: left; }
  nav #loggedin .welcome {
    float: left;
    width: 50%;
    text-align: left;
    margin-left: 15px;
    text-transform: none; }
    nav #loggedin .welcome span {
      font-weight: 600; }
  nav #loggedin .messages {
    float: left;
    margin-top: 15px; }
  nav #loggedin .arrowdown {
    margin-top: 30px; }
nav #btnLogin {
  display: block;
  width: 100%;
  border-radius: 2px;
  margin: 10px 0px;
  text-decoration: none; }
  nav #btnLogin a:hover {
    color: #fff; }
nav a.uppercase {
  text-decoration: none; }
nav input {
  margin-bottom: 10px; }
nav .nav .open > a:focus, nav .nav .open > a:hover {
  background: transparent !important; }

.topheader {
  margin-top: 0px; }
  .topheader li {
    font-size: 12px;
    margin-right: 15px; }
    .topheader li a {
      text-decoration: none;
      padding-top: 6px; }
    .topheader li a:hover {
      background: transparent; }
  .topheader #search {
    background: url("../images/searchicon.png") no-repeat;
    background-position: 0% 36%;
    padding-left: 5px; }
  .topheader #email {
    background: url("../images/mailicon.png") no-repeat;
    background-position: 0% 36%;
    padding-left: 5px; }
  .topheader #number {
    background: url("../images/phone.png") no-repeat;
    background-position: 0% 36%;
    padding-left: 5px; }

.registeration .intro {
  padding-left: 0px; }
.registeration .copy {
  font-size: 13px;
  line-height: 20px;
  border-top: 1px solid #2b2b2b;
  padding-top: 40px;
  margin-top: 40px; }
  .registeration .copy p {
    margin-bottom: 10px; }
  .registeration .copy .terms {
    margin-bottom: 30px; }
  .registeration .copy #login {
    padding-top: 15px; }
    .registeration .copy #login a {
      color: #25a4d7; }
.registeration h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 28px; }
.registeration form {
  padding-bottom: 80px; }
  .registeration form .verification {
    margin-top: 35px;
    width: 100%;
    height: 50px; }
.registeration .continuation {
  margin-top: 60px; }
  .registeration .continuation button {
    width: 100%; }
.registeration .form-control {
  border: 1px solid #eee;
  -webkit-box-shadow: none; }
.registeration .form-group {
  margin-top: 15px; }
.registeration label {
  margin-bottom: 10px;
  font-size: 13px; }
.registeration input {
  height: 50px;
  border: 1px solid #eee;
  box-shadow: 0px;
  color: #2b2b2b;
  font-size: 13px; }
.registeration select {
  height: 50px;
  border: 1px solid #eee;
  box-shadow: 0px; }
.registeration #inlineCheckbox1 {
  height: 30px;
  width: 30px;
  padding-right: 20px;
  margin-top: -5px; }
.registeration .checkbox-inline {
  font-size: 11px; }
.registeration .optional {
  float: right;
  color: #25a4d7; }
.registeration .progression {
  padding: 80px 0px 100px 0px;
  color: grey; }
  .registeration .progression li {
    float: left;
    margin-right: 110px;
    text-align: center; }
    .registeration .progression li a {
      text-decoration: none;
      color: inherit; }
  .registeration .progression span.circle {
    padding: 10px 15px;
    border: 2px solid #eee;
    border-radius: 50%; }
  .registeration .progression .active {
    color: #25a4d7; }
    .registeration .progression .active span {
      border: 4px solid #25a4d7; }
  .registeration .progression p.details {
    margin-top: 30px;
    font-size: 13px; }
.registeration .addon {
  margin-top: 80px; }
  .registeration .addon label {
    margin-top: 14px; }
.registeration .cards {
  height: 20px;
  float: right; }
.registeration .purchased {
  background: #fff;
  border: 1px solid grey;
  padding: 20px;
  margin-top: 100px;
  font-size: 13px; }
  .registeration .purchased h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px; }
  .registeration .purchased h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400; }
  .registeration .purchased .planselection {
    margin-top: 20px;
    margin-bottom: 0px; }
  .registeration .purchased .total {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 0px;
    margin: 25px 0px 15px 0px;
    background: #76c9ec;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }

/* Plan */
.plan {
  padding: 0; }

.indent {
  margin-top: 50px; }
  .indent h4 {
    margin-top: 50px; }

.form-horizontal h4 {
  padding-left: 0px;
  font-size: 16px; }
.form-horizontal .control-label {
  text-align: left;
  margin-left: 16px; }
.form-horizontal label {
  display: inline-block; }

.methods button {
  margin: 10px 0px;
  width: 315px;
  padding: 16px 0px; }

.pricingtable table {
  margin-top: 50px; }
  .pricingtable table th {
    text-align: center;
    padding: 25px 0px !important;
    font-size: 16px;
    font-weight: 500; }
  .pricingtable table td, .pricingtable table th {
    border: 1px solid #eee;
    line-height: 30px !important;
    font-size: 13px;
    padding: 7px 15px;
    text-align: center; }
  .pricingtable table td:first-child {
    text-align: left !important;
    font-size: 13px;
    font-weight: 500;
    vertical-align: middle;
    width: 34%;
    padding-left: 49px; }
  .pricingtable table tr:nth-child(odd) {
    background: #f3f3f3; }
  .pricingtable table tr:nth-child(2) {
    background: #d8eef9; }
  .pricingtable table th:nth-child(3) {
    background: #404042;
    color: #fff; }
  .pricingtable table th:first-child {
    background: #fafafa; }
  .pricingtable table h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 10px 0px; }
  .pricingtable table #info {
    padding: 24px;
    font-size: 12px; }
.pricingtable .none {
  visibility: hidden; }
.pricingtable .price {
  font-size: 50px;
  font-weight: 800;
  vertical-align: middle; }
  .pricingtable .price span.tag {
    font-size: 15px;
    vertical-align: top; }
  .pricingtable .price span.month {
    font-size: 13px;
    font-weight: 300;
    vertical-align: middle; }
.pricingtable .blue {
  margin: 30px 0px; }

#personaldetails {
  font-size: 12px; }
  #personaldetails .row {
    margin-bottom: 30px; }
    #personaldetails .row label {
      font-weight: 500;
      margin-bottom: 0px; }
  #personaldetails h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -15px;
    color: #1dabe6; }

.more {
  border: 0px !important; }

/* Confirmation */
.confirmation button {
  margin-top: 60px; }

/* Homepage */
.homepage nav button {
  padding: 5px 26px;
  margin-top: 7px; }

.jumbotron {
  background: url("../images/background.jpg") 100%;
  height: 550px; }
  .jumbotron h1 {
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 100px;
    letter-spacing: 0.5px;
    line-height: 48px; }
  .jumbotron p {
    font-size: 13px;
    width: 70%;
    font-weight: 400; }

#plans {
  background: #e9f6fc; }
  #plans .plan {
    padding: 0px 0px 40px 0px !important;
    font-size: 20px;
    font-weight: 600; }
    #plans .plan th {
      padding: 0px !important; }
  #plans td.lightgrey {
    background: #f3f3f3; }

.video {
  margin-top: 60px; }

#demo {
  margin: 0px;
  padding: 3px 20px;
  margin-top: 8px; }

.table > thead > tr > th {
  vertical-align: middle; }

.fast img {
  margin: 50px 0px 30px 0px; }

.more {
  font-size: 13px;
  background: #e9f6fc !important;
  border: 0px;
  padding: 0px !important; }

.contact form {
  width: 75%; }

/* Footer */
.greyfooter {
  background: #404042;
  padding: 40px 0px;
  margin-top: 60px;
  color: #fff; }
  .greyfooter h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0.5px; }
  .greyfooter p {
    font-size: 13px;
    color: #dbf1fa;
    line-height: 25px; }
  .greyfooter .list {
    margin-top: 15px; }
    .greyfooter .list li {
      font-size: 13px;
      line-height: 25px;
      margin: 5px 0px; }
      .greyfooter .list li a {
        color: #eee;
        text-decoration: none; }
  .greyfooter .intouch {
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px; }
    .greyfooter .intouch li a {
      color: #fff;
      text-decoration: none; }
  .greyfooter .social {
    margin-top: 20px; }
    .greyfooter .social li {
      float: left;
      margin-right: 15px; }
  .greyfooter #address {
    background: url("../images/searchicon.png") no-repeat;
    background-position: 0% 50%;
    padding-left: 25px; }
  .greyfooter #email {
    background: url("../images/mailicon.png") no-repeat;
    background-position: 0% 50%;
    padding-left: 25px; }
  .greyfooter #number {
    background: url("../images/phone.png") no-repeat;
    background-position: 0% 50%;
    padding-left: 25px; }
  .greyfooter #mc_embed_signup_scroll {
    margin-top: 30px; }

.homepage footer {
  margin-top: 0px; }

footer {
  background: #d8eef9;
  padding: 40px 0px 40px 0px;
  margin-top: 100px;
  font-size: 12px; }
  footer p {
    line-height: 20px; }
  footer h4 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px; }
  footer .secondary {
    float: right;
    text-align: right;
    margin-top: 5px; }
    footer .secondary li {
      float: left;
      margin: 0px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.3px; }
      footer .secondary li ::after {
        content: "|";
        padding-right: 8px;
        padding-left: 8px; }
      footer .secondary li a {
        text-decoration: none; }
    footer .secondary li:last-child ::after {
      content: none !important; }
  footer .copyright {
    float: left; }
    footer .copyright p {
      font-size: 11px; }

/* Dashboard */
.dashboard h2 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px; }
  .dashboard h2 span {
    font-size: 16px; }
.dashboard h3 {
  font-size: 18px;
  margin-bottom: 20px; }
.dashboard h5 {
  color: #404042;
  margin-bottom: 10px; }
.dashboard .matched {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #c6352c; }
.dashboard .unboxed select {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #1dabe6;
  font-size: 25px; }
.dashboard .unboxed label {
  vertical-align: middle;
  margin-top: 5px; }
.dashboard .searchbox {
  margin: 10px 0px; }
  .dashboard .searchbox #searchbox {
    padding-left: 0px; }
    .dashboard .searchbox #searchbox input {
      height: 42px; }
.dashboard .middle {
  margin-top: 30px; }
  .dashboard .middle #search {
    margin-bottom: 20px; }
.dashboard .whitebox {
  background: #ffffff;
  padding: 20px;
  margin: 20px 0px; }
  .dashboard .whitebox .title {
    padding-left: 0px;
    margin-bottom: 20px; }
    .dashboard .whitebox .title h3 {
      display: inline;
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 15px; }
  .dashboard .whitebox .viewall {
    display: inline;
    float: right;
    padding-right: 0px; }
    .dashboard .whitebox .viewall a {
      color: #1dabe6; }
.dashboard .container-fluid {
  padding-left: 0px; }
.dashboard .index {
  background: #414042;
  padding: 20px 0px 50px 0px;
  margin: 0;
  width: 180px; }
  .dashboard .index .db {
    font-size: 15px;
    color: #fff; }
    .dashboard .index .db .live {
      background: #1dabe6;
      position: relative; }
    .dashboard .index .db .live::after {
      content: "";
      position: absolute;
      right: -10px;
      top: 50%;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      background: #fafafa;
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
    .dashboard .index .db li {
      padding: 30px 10px;
      border-bottom: 1px solid #4c4b4d;
      font-size: 15px;
      letter-spacing: 0.5px; }
      .dashboard .index .db li a {
        color: #ffffff;
        text-decoration: none;
        margin-left: 16px; }
    .dashboard .index .db li:hover {
      background: #1dabe6; }
  .dashboard .index .settings {
    margin: 350px 10px 0px 10px; }
    .dashboard .index .settings li {
      background: #333334;
      margin: 2px 0px;
      padding: 10px 15px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #ccc; }
      .dashboard .index .settings li a {
        color: #ccc;
        text-decoration: none; }
    .dashboard .index .settings li:hover {
      background: #1dabe6; }
.dashboard .searchedusers {
  margin-top: 40px;
  border: 0px; }
  .dashboard .searchedusers table {
    margin-top: 10px; }
    .dashboard .searchedusers table thead {
      border: 1px solid #fff;
      font-size: 12px; }
    .dashboard .searchedusers table th {
      border-left: 0px;
      border-right: 0px;
      font-weight: 500; }
    .dashboard .searchedusers table td {
      vertical-align: middle; }
    .dashboard .searchedusers table td:nth-of-type(4) {
      font-weight: 600; }
    .dashboard .searchedusers table a {
      color: #1dabe6; }
.dashboard #invitations {
  margin-top: 40px; }
  .dashboard #invitations table {
    margin-top: 10px; }
    .dashboard #invitations table thead {
      border: 1px solid #fff;
      font-size: 12px; }
    .dashboard #invitations table th {
      border-left: 0px;
      border-right: 0px;
      font-weight: 500; }
    .dashboard #invitations table td {
      vertical-align: middle; }
    .dashboard #invitations table td:nth-of-type(4) {
      font-weight: 600; }
    .dashboard #invitations table a {
      color: #1dabe6; }
.dashboard #usersearch {
  margin-bottom: 20px;
  padding-top: 15px; }
  .dashboard #usersearch table {
    margin-top: 10px; }
    .dashboard #usersearch table thead {
      border: 1px solid #fff;
      font-size: 12px; }
    .dashboard #usersearch table th {
      border-left: 0px;
      border-right: 0px;
      font-weight: 500; }
    .dashboard #usersearch table td {
      vertical-align: middle; }
    .dashboard #usersearch table a {
      color: #1dabe6; }
  .dashboard #usersearch button {
    padding: 5px 40px; }
  .dashboard #usersearch .lighterblue {
    padding-top: 15px;
    position: relative;
    height: 66px; }
  .dashboard #usersearch .lighterblue:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #d8eef9;
    border-width: 12px;
    margin-left: -12px; }
.dashboard #reports {
  margin-bottom: 20px;
  margin-top: 30px; }
  .dashboard #reports table {
    margin-top: 10px; }
    .dashboard #reports table thead {
      border: 1px solid #fff;
      font-size: 12px; }
    .dashboard #reports table th {
      border-left: 0px;
      border-right: 0px;
      font-weight: 500; }
    .dashboard #reports table td {
      vertical-align: middle; }
    .dashboard #reports table a {
      color: #1dabe6; }
  .dashboard #reports button {
    padding: 8px 28px; }
  .dashboard #reports .lighterblue {
    padding-top: 15px;
    position: relative;
    height: 66px; }
  .dashboard #reports .lighterblue:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #d8eef9;
    border-width: 12px;
    margin-left: -12px; }
.dashboard .apikeys td:nth-child(2), .dashboard .latestreports td:nth-child(2), .dashboard .monthcount td:nth-child(2) {
  text-align: right; }
.dashboard .apikeys button, .dashboard .latestreports button, .dashboard .monthcount button {
  margin-top: 20px;
  padding: 8px 20px; }
.dashboard .monthcount .totals {
  font-size: 30px;
  color: #1dabe6; }
.dashboard .monthcount .strong {
  font-weight: 800; }
.dashboard .monthcount .lighterblue {
  padding-top: 15px; }
.dashboard .monthcount .lighterblue::after {
  padding: 10px 0px;
  border-bottom: 1px solid #404042;
  width: 90%;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto; }
.dashboard .monthcount .lighterblue:nth-child(4)::after {
  border-bottom: 0px solid #404042; }
.dashboard .margin5 {
  margin-left: 5px; }

/* Nav */
.nav-tabs {
  color: #000;
  border-bottom: 0px;
  margin: 40px 0px 30px 0px; }
  .nav-tabs li {
    background: transparent; }
    .nav-tabs li a {
      text-decoration: none;
      border-radius: 0px;
      border: 0px;
      line-height: 25px;
      color: #2fade4; }
    .nav-tabs li a:hover {
      background: transparent;
      text-decoration: none; }
  .nav-tabs .active {
    position: relative;
    background: #d8eef9; }
  .nav-tabs .active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(216, 238, 249, 0);
    border-top-color: #d8eef9;
    border-width: 15px;
    margin-left: -15px; }
  .nav-tabs li.active > a, .nav-tabs li.active > a:focus, .nav-tabs li.active > a:hover {
    background: #d8eef9;
    border: 0px;
    border-radius: 0px;
    text-decoration: none; }

.help .panel-default {
  border-color: red !important;
  border: 0px; }
.help .panel-heading {
  border-bottom: 1px solid #2fade4 !important;
  background: #fafafa;
  border: 0;
  padding: 10px 0px; }
  .help .panel-heading h4 a {
    text-decoration: none; }

#accordion {
  margin-top: 20px; }

/* Account */
.accountnav ul li {
  color: grey;
  float: left;
  width: 30%;
  text-align: center;
  padding: 15px 0px;
  font-size: 13px;
  position: relative; }
  .accountnav ul li a {
    text-decoration: none; }
.accountnav ul li.active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #d8eef9;
  border-width: 15px;
  margin-left: -15px; }

#account {
  margin-top: 20px; }

#addusers, #twousers {
  margin-bottom: 100px; }

/* Icons */
#settings {
  background: url("../images/contact.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 20px; }

#contact {
  background: url("../images/settings.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 20px; }

#help {
  background: url("../images/help.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 23px; }

#dash {
  background: url("../images/dashboard.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 23px; }

#dbsearch {
  background: url("../images/search-white.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 23px; }

#dbreports {
  background: url("../images/reports.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 23px; }

#dbhistory {
  background: url("../images/history.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 23px; }

#dbusers {
  background: url("../images/users.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 23px; }
