/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  background: #fafafa;
  font-family: "Raleway", sans-serif;
  color: #404042;
  margin-top: 80px;
  line-height: 25px; }

nav {
  background: #ffffff;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee; }

a {
  color: #404042;
  text-decoration: underline; }

p {
  line-height: 25px;
  font-size: 16px; }

section {
  padding: 80px 0px 100px 0px; }

h1 {
  font-size: 48px;
  margin-bottom: 10px; }

h2 {
  font-size: 36px;
  margin-bottom: 20px; }

h3 {
  font-size: 28px;
  margin-bottom: 20px; }

strong {
  font-weight: 600; }

button {
  border-radius: 3px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  border: 0px;
  padding: 12px 50px;
  letter-spacing: 0.5px;
  font-weight: 400; }
  button a {
    color: #fff;
    text-decoration: none; }
  button a:hover {
    text-decoration: none;
    color: inherit; }

.left {
  float: left; }

.right {
  float: right; }

.lighterblue {
  background: #d8eef9; }

.lightblue {
  background: #76c9ec;
  color: #000; }

.blue {
  background: #2fade4; }

.grey {
  background: #404042; }

small {
  font-size: 11px;
  margin-left: 4px; }

label {
  margin: 7px 0px 10px 0px;
  font-size: 14px; }

.navbar-fixed-top {
  border-bottom: 1px solid #eee;
  background: #fdfdfd; }

.topheader li {
  font-size: 13px;
  margin-right: 15px; }
  .topheader li a {
    text-decoration: none; }
  .topheader li a:hover {
    background: transparent; }
.topheader #search {
  background: url("../images/searchicon.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 5px; }
.topheader #email {
  background: url("../images/mailicon.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 5px; }
.topheader #number {
  background: url("../images/phone.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 5px; }

.registeration {
  /* h4
   * font-size: 18px
   * font-weight: 400
   * margin-top: 40px
   * margin-bottom: 20px
   * padding-left: 0px */ }
  .registeration .intro {
    padding-left: 0px; }
  .registeration .copy {
    font-size: 13px;
    line-height: 20px;
    border-top: 1px solid #2b2b2b;
    padding-top: 40px;
    margin-top: 40px; }
    .registeration .copy p {
      margin-bottom: 10px; }
    .registeration .copy .terms {
      margin-bottom: 30px; }
    .registeration .copy #login {
      padding-top: 15px; }
      .registeration .copy #login a {
        color: #25a4d7; }
  .registeration h1 {
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 28px; }
  .registeration form {
    padding-bottom: 80px; }
    .registeration form .verification {
      margin-top: 26px;
      margin-left: -20px;
      height: 48px; }
  .registeration .continuation {
    margin-top: 60px; }
  .registeration .form-control {
    border: 1px solid #eee;
    -webkit-box-shadow: none; }
  .registeration .form-group {
    margin: 10px 0px; }
  .registeration label {
    margin-bottom: 10px;
    font-size: 13px; }
  .registeration input {
    height: 50px;
    border: 1px solid #eee;
    box-shadow: 0px;
    color: #eee;
    font-size: 13px; }
  .registeration select {
    height: 50px;
    border: 1px solid #eee;
    box-shadow: 0px; }
  .registeration #inlineCheckbox1 {
    height: 30px;
    width: 30px;
    padding-right: 20px;
    margin-top: -9px; }
  .registeration .optional {
    float: right;
    color: #25a4d7; }
  .registeration .progression {
    padding: 80px 0px 100px 0px;
    color: grey; }
    .registeration .progression li {
      float: left;
      margin-right: 110px;
      text-align: center; }
      .registeration .progression li a {
        text-decoration: none;
        color: inherit; }
    .registeration .progression span.circle {
      padding: 10px 15px;
      border: 2px solid #eee;
      border-radius: 50%; }
    .registeration .progression .active {
      color: #25a4d7; }
      .registeration .progression .active span {
        border: 4px solid #25a4d7; }
    .registeration .progression p.details {
      margin-top: 30px;
      font-size: 14px; }
  .registeration .addon {
    margin-top: 80px; }
    .registeration .addon label {
      margin-top: 14px; }
  .registeration .cards {
    height: 20px;
    margin-left: 180px; }
  .registeration .purchased {
    background: #fff;
    border: 1px solid grey;
    padding: 20px;
    margin-top: 100px; }

/* Plan */
.plan {
  padding: 0; }

.indent {
  margin-left: 20px !important; }

.form-horizontal h4 {
  padding-left: 0px; }
.form-horizontal .control-label {
  text-align: left;
  margin-left: 16px; }
.form-horizontal label {
  display: inline-block; }

.methods button {
  margin: 10px 0px;
  width: 315px;
  padding: 16px 0px; }

table {
  margin-top: 100px;
  /* th
   * padding: 40px 0px !important
   * font-size: 20px
   * font-weight: 600 */ }
  table td, table th {
    border: 1px solid #eee;
    text-align: center;
    line-height: 30px !important;
    font-size: 13px;
    padding: 7px 15px; }
  table td:first-child {
    width: 22%;
    text-align: left !important;
    font-size: 13px; }
  table td {
    width: 15%; }
  table tr:nth-child(odd) {
    background: #f3f3f3; }
  table tr:nth-child(2) {
    background: #d8eef9; }
  table th:nth-child(3) {
    background: #404042;
    color: #fff; }
  table th:first-child {
    background: #fafafa; }
  table .none {
    visibility: hidden; }
  table .price {
    font-size: 50px;
    font-weight: 800;
    padding-top: 35px !important; }
    table .price span.tag {
      font-size: 18px; }
    table .price span.month {
      font-size: 14px;
      font-weight: 300; }
  table .blue {
    margin: 40px 0px; }

/* Confirmation */
.confirmation button {
  margin-top: 60px; }

/* Homepage */
.jumbotron {
  background: url("../images/background.jpg") 100%;
  height: 670px; }
  .jumbotron h1 {
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 100px;
    letter-spacing: 0.5px; }
  .jumbotron p {
    font-size: 20px;
    width: 70%; }

#plans {
  background: #e9f6fc; }
  #plans .plan {
    padding: 0px 0px 40px 0px !important;
    font-size: 20px;
    font-weight: 600; }
    #plans .plan th {
      padding: 0px !important; }
  #plans td.lightgrey {
    background: #f3f3f3; }

.video {
  margin-top: 60px; }

#demo {
  margin: 0px;
  padding: 3px 20px;
  margin-top: 8px; }

.table > thead > tr > th {
  vertical-align: middle; }

.fast img {
  margin: 50px 0px 30px 0px; }

.more {
  font-size: 12px;
  background: #e9f6fc !important;
  border: 0px;
  padding: 0px !important; }

/* Footer */
.greyfooter {
  background: #404042;
  padding: 40px 0px;
  margin-top: 60px;
  color: #fff; }
  .greyfooter h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .greyfooter p {
    font-size: 13px;
    color: #dbf1fa;
    line-height: 25px; }
  .greyfooter .list li {
    font-size: 14px;
    line-height: 25px;
    margin: 10px 0px; }
    .greyfooter .list li a {
      color: #1dabe6;
      text-decoration: none; }
  .greyfooter .intouch {
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px; }
  .greyfooter .social {
    margin-top: 20px; }
    .greyfooter .social li {
      float: left;
      margin-right: 15px; }
  .greyfooter #address {
    background: url("../images/searchicon.png") no-repeat;
    background-position: 0% 50%;
    padding-left: 25px; }
  .greyfooter #email {
    background: url("../images/mailicon.png") no-repeat;
    background-position: 0% 50%;
    padding-left: 25px; }
  .greyfooter #number {
    background: url("../images/phone.png") no-repeat;
    background-position: 0% 50%;
    padding-left: 25px; }

footer {
  background: #d8eef9;
  padding: 40px 0px 40px 0px;
  margin-top: 100px;
  font-size: 12px; }
  footer p {
    line-height: 20px; }
  footer h4 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px; }
  footer .secondary {
    float: right;
    text-align: right;
    margin-top: 5px; }
    footer .secondary li {
      float: left;
      margin: 0px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.3px; }
      footer .secondary li ::after {
        content: "|";
        padding-right: 8px;
        padding-left: 8px; }
      footer .secondary li a {
        text-decoration: none; }
    footer .secondary li:last-child ::after {
      content: none !important; }
  footer .copyright {
    float: left;
    font-size: 13px; }

/* Dashboard */
.dashboard .middle {
  margin-top: 80px; }
.dashboard .whitebox {
  background: #ffffff;
  padding: 20px;
  margin: 20px 0px; }
  .dashboard .whitebox h3 {
    display: inline;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px; }
  .dashboard .whitebox .viewall {
    display: inline;
    float: right;
    margin-top: 10px; }
    .dashboard .whitebox .viewall a {
      color: #1dabe6; }
.dashboard .container-fluid {
  padding-left: 0px; }
.dashboard .index {
  background: #414042;
  padding: 40px 0px 0px 0px;
  margin: 0; }
  .dashboard .index .db {
    font-size: 15px;
    color: #fff; }
    .dashboard .index .db li {
      padding: 30px 10px;
      border-bottom: 1px solid #4c4b4d; }
      .dashboard .index .db li a {
        color: #ffffff;
        text-decoration: none; }
  .dashboard .index .settings {
    margin-top: 350px; }
    .dashboard .index .settings li {
      background: #333334;
      padding: 15px 10px !important;
      margin: 2px 0px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #ccc; }
      .dashboard .index .settings li a {
        color: #ccc;
        text-decoration: none; }

/* Nav Tabs */
.nav-tabs {
  color: #000;
  border-bottom: 0px; }
  .nav-tabs li a {
    text-decoration: underline;
    border-radius: 0px;
    border: 0px;
    line-height: 25px;
    color: #2fade4; }
  .nav-tabs .active {
    position: relative;
    background: #d8eef9; }
  .nav-tabs .active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(216, 238, 249, 0);
    border-top-color: #d8eef9;
    border-width: 15px;
    margin-left: -15px; }
  .nav-tabs li.active > a, .nav-tabs li.active > a:focus, .nav-tabs li.active > a:hover {
    background: #d8eef9;
    border: 0px;
    border-radius: 0px;
    text-decoration: none;
    padding: 5px 40px; }

.panel-default {
  border-color: red !important;
  border: 0px; }
  .panel-default .panel-heading {
    border-bottom: 1px solid #2fade4 !important;
    background: #fafafa;
    border: 0;
    padding: 10px 0px; }
    .panel-default .panel-heading h4 a {
      text-decoration: none; }

#accordion {
  margin-top: 20px; }

/* Account */
.accountnav ul li {
  color: grey;
  float: left;
  width: 30%;
  text-align: center;
  padding: 15px 0px; }
  .accountnav ul li a {
    text-decoration: none; }

#account {
  margin-top: 20px; }

#addusers, #twousers {
  margin-bottom: 100px; }

/* Icons */
#settings {
  background: url("../images/contact.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 20px; }

#contact {
  background: url("../images/settings.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 20px; }

#help {
  background: url("../images/help.png") no-repeat;
  background-position: 0% 50%;
  padding-left: 20px; }
