/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

$lighterblue: #d8eef9
$lightblue: #76c9ec
$blue: #1dabe6
$grey: #404042
$lightgrey: #f3f3f3
$white: #ffffff

body
	background: #fafafa
	font-family: 'Raleway', sans-serif
	color: #404042
	padding-top: 94px
	line-height: 25px
	font-size: 13px

nav 
	background: #ffffff
	padding-bottom: 0px
	border-bottom: 1px solid #eee

a
	color: #404042
	text-decoration: underline

p
	line-height: 25px
	font-size: 13px

section
	padding: 80px 0px 100px 0px

h1
	font-size: 33px
	margin-bottom: 20px
	letter-spacing: 1px

h2
	font-size: 28px
	margin-bottom: 20px

h3
	font-size: 18px
	margin-bottom: 20px

h4
	font-size: 16px
	font-weight: 600
	margin-bottom: 20px

strong
	font-weight: 600

.uppercase
	text-transform: uppercase

.space
	padding-top: 20px

button
	border-radius: 2px
	letter-spacing: 1px
	color: #ffffff
	text-transform: uppercase
	border: 0px
	padding: 8px 45px
	letter-spacing: .5px
	font-weight: 400
	font-size: 13px

	a
		color: #fff
		text-decoration: none

	a:hover
		text-decoration: none
		color: inherit

.left
	float: left

.right
	float: right

.lighterblue
	background: $lighterblue

.lightblue
	background: $lightblue
	color: #000

.blue
	background: #2fade4

.grey
	background: #404042

.whitebtn
	border: 1px solid $grey
	background: #fff
	color: #2b2b2b

.white
	background: #fff
	color: #2b2b2b

	a
		color: #2b2b2b


.width100
	width: 100%

small
	font-size: 11px

label
	font-size: 13px

.navbar-fixed-top
	border-bottom: 1px solid #eee
	background: #fdfdfd
	min-height: 100px

#navLogin
	margin-top: 0px
	padding-top: 0px

nav
	.open > .dropdown-menu
		display: block
		border: 2px solid #2fade4
		background-color: #e9f6fc

	.dropdown-menu
		padding: 30px 20px !important
		width: 275px

		label
			font-weight: 600

		a
			text-decoration: underline

	#btnLogin
		display: block
		width: 100%
		border-radius: 2px
		margin: 10px 0px
		text-decoration: none

		a:hover
			color: #fff

	a.uppercase
		text-decoration: none

	input
		margin-bottom: 10px

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
		background: transparent

.topheader
	margin-top: 0px

	li
		font-size: 13px
		margin-right: 15px

		a
			text-decoration: none

		a:hover
			background: transparent

	#search
		background: url("../images/searchicon.png") no-repeat
		background-position: 0% 50%
		padding-left: 5px

	#email
		background: url("../images/mailicon.png") no-repeat
		background-position: 0% 50%
		padding-left: 5px

	#number
		background: url("../images/phone.png") no-repeat
		background-position: 0% 50%
		padding-left: 5px

.registeration
	.intro
		padding-left: 0px

	.copy
		font-size: 13px
		line-height: 20px
		border-top: 1px solid #2b2b2b
		padding-top: 40px
		margin-top: 40px

		p
			margin-bottom: 10px

		.terms
			margin-bottom: 30px

		#login
			padding-top: 15px

			a
				color: #25a4d7

	h1
		margin-top: 40px
		margin-bottom: 20px
		font-size: 28px

	form
		padding-bottom: 80px	

		.verification
			margin-top: 35px
			width: 100%
			height: 50px

	.continuation
		margin-top: 60px

		button
			width: 100%

	.form-control
		border: 1px solid #eee
		-webkit-box-shadow: none

	.form-group
		margin-top: 15px

	label
		margin-bottom: 10px
		font-size: 13px

	input
		height: 50px
		border: 1px solid #eee
		box-shadow: 0px
		color: #2b2b2b
		font-size: 13px

	select
		height: 50px
		border: 1px solid #eee
		box-shadow: 0px

	#inlineCheckbox1
		height: 30px
		width: 30px
		padding-right: 20px
		margin-top: -5px

	.checkbox-inline
		font-size: 11px

	.optional
		float: right
		color: #25a4d7


	.progression
		padding: 80px 0px 100px 0px
		color: grey

		li 
			float: left
			margin-right: 110px
			text-align: center

			a
				text-decoration: none
				color: inherit

		span.circle
			padding: 10px 15px
			border: 2px solid #eee
			border-radius: 50%

		.active
			color: #25a4d7

			span
				border: 4px solid #25a4d7

		p.details 
			margin-top: 30px
			font-size: 13px

	.addon
		margin-top: 80px

		label
			margin-top: 14px

	.cards
		height: 20px
		float: right

	.purchased
		background: #fff
		border: 1px solid grey
		padding: 20px
		margin-top: 100px
		font-size: 13px

		h3
			font-size: 24px
			font-weight: 500
			margin-bottom: 0px

		h4
			text-transform: uppercase
			font-size: 18px
			font-weight: 400

		.planselection
			margin-top: 20px
			margin-bottom: 0px

		.total
			text-transform: uppercase
			font-weight: 600
			font-size: 18px
			padding: 15px 0px
			margin: 25px 0px 15px 0px
			background: $lightblue
			border-top: 1px solid #ccc
			border-bottom: 1px solid #ccc

/* Plan */

.plan
	padding: 0

.indent
	margin-top: 50px

	h4
		margin-top: 50px

.form-horizontal

	h4
		padding-left: 0px
		font-size: 16px

	.control-label
		text-align: left
		margin-left: 16px

	label
		display: inline-block

.methods
	button
		margin: 10px 0px
		width: 315px
		padding: 16px 0px

.pricingtable
	table 
		margin-top: 50px

		th
			text-align: center
			padding: 25px 0px !important
			font-size: 16px
			font-weight: 500

		td, th
			border: 1px solid #eee
			line-height: 30px !important
			font-size: 13px
			padding: 7px 15px
			text-align: center

		td:first-child
			text-align: left !important
			font-size: 13px
			font-weight: 500
			vertical-align: middle
			width: 34%
			padding-left: 49px

		tr:nth-child(odd)
			background: #f3f3f3

		tr:nth-child(2)
			background: #d8eef9

		th:nth-child(3)
			background: #404042
			color: #fff

		th:first-child
			background: #fafafa

		h3
			font-weight: 600
			font-size: 20px
			margin-bottom: 0px
			padding: 10px 0px
				
		#info
			padding: 24px
			font-size: 12px

	.none
		visibility: hidden

	.price
		font-size: 50px
		font-weight: 800
		vertical-align: middle

		span.tag
			font-size: 15px
			vertical-align: top

		span.month
			font-size: 13px
			font-weight: 300
			vertical-align: middle

	.blue
		margin: 30px 0px
		
#personaldetails
	font-size: 12px

	.row
		margin-bottom: 30px

		label
			font-weight: 500
			margin-bottom: 0px

	h5
		font-size: 16px
		font-weight: 600
		color: $blue

.more
	border: 0px !important

/* Confirmation */

.confirmation
	button
		margin-top: 60px

/* Homepage */

.homepage
	nav
		button
			padding: 5px 26px
			margin-top: 7px

.jumbotron
	background: url("../images/background.jpg") 100%
	height: 550px

	h1
		font-size: 36px
		margin-bottom: 15px
		margin-top: 100px
		letter-spacing: .5px
		line-height: 48px

	p
		font-size: 13px
		width: 70%
		font-weight: 400

#plans 
	background: #e9f6fc

	.plan
		padding: 0px 0px 40px 0px !important
		font-size: 20px
		font-weight: 600

		th
			padding: 0px !important
		
	td.lightgrey 
		background: #f3f3f3

.video
	margin-top: 60px

#demo
	margin: 0px
	padding: 3px 20px
	margin-top: 8px

.table>thead>tr>th
	vertical-align: middle

.fast img
	margin: 50px 0px 30px 0px

.more
	font-size: 13px
	background: #e9f6fc !important
	border: 0px
	padding: 0px !important

.contact
	form
		width: 75%
		
/* Footer */

.greyfooter
	background: $grey
	padding: 40px 0px
	margin-top: 60px
	color: #fff

	h4
		font-size: 16px
		text-transform: uppercase
		margin-bottom: 20px
		letter-spacing: .5px

	p
		font-size: 13px
		color: #dbf1fa
		line-height: 25px

	.list
		margin-top: 15px

		li
			font-size: 13px
			line-height: 25px
			margin: 5px 0px

			a
				color: #eee
				text-decoration: none
	
	.intouch
		margin-top: 20px
		font-size: 14px
		line-height: 25px

		li
			a
				color: #fff
				text-decoration: none

	.social
		margin-top: 20px

		li
			float: left
			margin-right: 15px

	#address
		background: url("../images/searchicon.png") no-repeat
		background-position: 0% 50%
		padding-left: 25px

	#email
		background: url("../images/mailicon.png") no-repeat
		background-position: 0% 50%
		padding-left: 25px

	#number
		background: url("../images/phone.png") no-repeat
		background-position: 0% 50%
		padding-left: 25px

	#mc_embed_signup_scroll
		margin-top: 30px

.homepage footer 
	margin-top: 0px

footer
	background: #d8eef9
	padding: 40px 0px 40px 0px
	margin-top: 100px
	font-size: 12px

	p
		line-height: 20px

	h4
		text-transform: uppercase
		font-size: 16px
		margin-bottom: 10px

	.secondary
		float: right
		text-align: right
		margin-top: 5px

		li
			float: left
			margin: 0px
			text-transform: uppercase
			font-size: 12px
			letter-spacing: .3px

			::after
				content: "|"
				padding-right: 8px
				padding-left: 8px

			a
				text-decoration: none

		li:last-child ::after
			content: none !important

	.copyright
		float: left

		p
			font-size: 11px

/* Dashboard */
.dashboard

	h2
		font-size: 28px
		font-weight: 500
		letter-spacing: .5px

		span
			font-size: 16px

	h3
		font-size: 18px
		margin-bottom: 20px

	h5
		color: $grey
		margin-bottom: 10px

	.searchbox
		margin: 10px 0px

		#searchbox
			padding-left: 0px

			input
				height: 42px

	.middle
		margin-top: 30px

		#search
			margin-bottom: 20px

	.whitebox
		background: #ffffff
		padding: 20px
		margin: 20px 0px

		.title
			padding-left: 0px
			margin-bottom: 20px

			h3
				display: inline
				font-weight: 500
				font-size: 15px
				margin-bottom: 15px

		.viewall
			display: inline
			float: right
			padding-right: 0px

			a
				color: #1dabe6

	.container-fluid
		padding-left: 0px

	.index
		background: #414042
		padding: 20px 0px 50px 0px
		margin: 0
		
		.db
			font-size: 15px
			color: #fff

			li
				padding: 30px 10px
				border-bottom: 1px solid #4c4b4d
				font-size: 15px
				letter-spacing: .5px

				a
					color: $white
					text-decoration: none

		.settings
			margin: 350px 10px 0px 10px

			li
				background: #333334
				margin: 2px 0px
				padding: 10px 15px
				text-transform: uppercase
				font-size: 12px
				letter-spacing: .5px
				color: #ccc

				a
					color: #ccc
					text-decoration: none

			li:hover
				background: $blue

	.searchedusers
		margin-top: 40px
		border: 0px

	#invitations
		margin-top: 40px

		table
			margin-top: 10px

			thead
				border: 1px solid #fff
				font-size: 12px

			th
				border-left: 0px
				border-right: 0px
				font-weight: 500

			td:nth-of-type(4)
				font-weight: 600

			a
				color: $blue


	.apikeys, .latestreports, .monthcount
		td:nth-child(2)
			text-align: right

		button
			margin-top: 20px
			padding: 8px 20px

	.monthcount
		.totals
			font-size: 30px
			color: $blue

		.strong
			font-weight: 800

		.lighterblue
			padding: 10px 0px

	.margin5
		margin-left: 5px

/* Nav */
.nav-tabs
	color: #000
	border-bottom: 0px
	margin: 40px 0px 30px 0px

	li
		background: transparent

		a
			text-decoration: none
			border-radius: 0px
			border: 0px
			line-height: 25px
			color: #2fade4

		a:hover
			background: transparent
			text-decoration: none

	.active
		position: relative
		background: #d8eef9

	.active:after 
		top: 100%
		left: 50%
		border: solid transparent
		content: " "
		height: 0
		width: 0
		position: absolute
		pointer-events: none
		border-color: rgba(216, 238, 249, 0)
		border-top-color: #d8eef9
		border-width: 15px
		margin-left: -15px

	li.active>a, li.active>a:focus, li.active>a:hover
		background: #d8eef9
		border: 0px
		border-radius: 0px
		text-decoration: none


.help 
	.panel-default
		border-color: red !important
		border: 0px

	.panel-heading
		border-bottom: 1px solid #2fade4 !important
		background: #fafafa
		border: 0
		padding: 10px 0px

		h4
			a
				text-decoration: none

#accordion
	margin-top: 20px

/* Account */

.accountnav
	ul
		li
			color: grey
			float: left
			width: 30%
			text-align: center
			padding: 15px 0px
			font-size: 13px
			position: relative

			a
				text-decoration: none

		li.active:after
			top: 100%
			left: 50%
			border: solid transparent
			content: " "
			height: 0
			width: 0
			position: absolute
			pointer-events: none
			border-color: rgba(136, 183, 213, 0)
			border-top-color: #d8eef9
			border-width: 15px
			margin-left: -15px

#account
	margin-top: 20px

#addusers, #twousers
	margin-bottom: 100px


/* Icons */
#settings
	background: url("../images/contact.png") no-repeat
	background-position: 0% 50%
	padding-left: 20px

#contact
	background: url("../images/settings.png") no-repeat
	background-position: 0% 50%
	padding-left: 20px

#help
	background: url("../images/help.png") no-repeat
	background-position: 0% 50%
	padding-left: 23px

#dash
	background: url("../images/dashboard.png") no-repeat
	background-position: 0% 50%
	padding-left: 23px

#dbsearch
	background: url("../images/search-white.png") no-repeat
	background-position: 0% 50%
	padding-left: 23px

#dbreports
	background: url("../images/reports.png") no-repeat
	background-position: 0% 50%
	padding-left: 23px

#dbhistory
	background: url("../images/history.png") no-repeat
	background-position: 0% 50%
	padding-left: 23px

#dbusers
	background: url("../images/users.png") no-repeat
	background-position: 0% 50%
	padding-left: 23px